
*.exe
.vscode/tasks.json
.vscode/settings.json
tempCodeRunnerFile.cpp
.idea/workspace.xml
.idea/vcs.xml
*.iml
challenges/.idea/kotlinc.xml
challenges/.idea/libraries/KotlinJavaRuntime.xml
challenges/.idea/misc.xml
challenges/.idea/modules.xml
challenges/.idea/vcs.xml
algopedia/.idea/gradle.xml
algopedia/.idea/workspace.xml
algopedia/.idea/workspace.xml
algopedia/.idea/codeStyles/Project.xml
algopedia/.idea/misc.xml
algopedia/.idea/codeStyles/codeStyleConfig.xml
